# 1. Ignore everything by default
*

# 2. Allow directories
!*/

# 3. Specifically allow these SIX types
!*.mjs
!*.ts
!*.js
!*.html
!*.css
!*.scss

# 4. Standard ignores
.build-in-blocks/
node_modules/
build/
dist/
coverage/
