# 1. Ignore everything by default
*

# 2. Allow directories
!*/

# 3. Specifically allow these SEVEN file types
!*.mjs
!*.ts
!*.js
!*.json
!*.html
!*.css
!*.scss

# 4. Standard ignores
node_modules/
build/
dist/
coverage/
